{% load staticfiles %}
<!DOCTYPE html>

<html {% block htmlclass %}{% endblock htmlclass %}>
<head>
	<title>{% if title %}{{ title }} — {% endif %}Storybook</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link href="{% static 'css/style.css' %}?v1" type="text/css" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'favicon.png' %}?v4">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}?v4">
	<link rel="apple-touch-icon-precomposed" href="{% static 'apple-touch-icon.png' %}?v4">

	<script type="text/javascript" charset="utf-8">
		var config = {};
        config.apiKey = "{{ key }}";
	</script>

	<script src="{% static 'js/lib/jquery-2.1.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery.autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/Sortable.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap-global-bind.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/storybook.js' %}?v2" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="wrapper">
		{% block menu %}
		<nav role="menu">
			{% if story %}
				{# We're on a story, so show story-specific stuff first #}
				<div class="group story">
					<a class="story-home" href="{% url 'story' story.slug %}">Story home</a>
					<a class="full-story" href="{% url 'story_full' story.slug %}">Full draft</a>
					<a class="fragments" href="{% url 'story_fragments' story.slug %}">Fragments</a>
					<a href="{% url 'story_organize' story.slug %}">Organize</a></li>
					<a href="{% url 'admin:storybook_story_change' story.id %}" target="_blank">Story admin</a>
				</div>
			{% endif %}

			<div class="group">
				<a class="home" href="{% url 'home' %}">Home</a></li>
				<a href="{% url 'admin:index' %}" target="_blank">Admin</a>
				<a href="{% url 'logout' %}">Logout</a>
			</div>
		</nav>
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>

			{% block page %}

			{% block framewrapper %}
			<section id="frame">
				{% block frame %}

				{% block header %}
				<header role="banner">
					<div class="container">
						<section class="left">
							<h1><a class="menu" href="">Storybook</a></h1>
						</section>
						<section class="right">
							<a class="add" href="">+</a></h1>
						</section>
					</div>
					{% block pageheader %}{% endblock pageheader %}
				</header>
				{% endblock header %}

				<section id="tray" data-uri="{% url 'api_process_payload' %}" {% if story %}data-story-slug="{{ story.slug }}"{% endif %}>
					<div class="container">
						<textarea></textarea>

						<div class="controls"><a class="save button" href="">Save</a></div>
					</div>
				</section>

				<section id="error">
					<div class="container"></div>
				</section>

				<main id="content">
					{% block content %}{% endblock content %}
				</main>

				{% endblock frame %}
			</section>
			{% endblock framewrapper %}

			{% block footer %}
			<footer id="footer">{% block footercontent %}{% endblock footercontent %}</footer>
			{% endblock footer %}

			{% endblock page %}
		</section>
	</div>
</body>
</html>
