{% load staticfiles %}
<!DOCTYPE html>
<html {% block htmlclass %}{% endblock htmlclass %}>
<head>
	<title>{% if title %}{{ title }} — {% endif %}Storybook</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=1">
	<link rel="shortcut icon" href="{% static 'favicon.png' %}?v=1">

	<script type="text/javascript" charset="utf-8">
		var config = {};
        config.apiKey = "{{ key }}";
	</script>

	<script src="{% static 'js/lib/jquery-2.1.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery.autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/Sortable.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/lib/mousetrap-global-bind.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/storybook.js' %}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="wrapper">
		{% block menu %}
		<nav role="menu">
			{% if scene %}
				<div class="group scene">
				{# On a scene page, show revisions list #}
				<a href="{% url 'scene' story.slug scene.id %}">Latest revision</a>
				{% for rev in scene.revisions.all %}
				<a class="revision" href="{% url 'scene' story.slug scene.id rev.id %}">{{ rev.created|date:"P Y-m-d" }}</a>
				{% endfor %}
				</div>
			{% endif %}

			{% if story %}
				{# We're on a story, so show story-specific stuff first #}
				<div class="group story">
					<a href="{% url 'story' story.slug %}">Story Home</a>
					<a href="">Characters</a>
					<a href="{% url 'story_full' story.slug %}">Full Draft</a>
					<a href="">Inbox</a>
					<a href="">Notebook</a>
					<a href="{% url 'story_organize' story.slug %}">Organize</a></li>
				</div>
			{% endif %}

			<div class="group stories">
				{% for story in stories %}
				<a href="{% url 'story' story.slug %}">{{ story.title }}</a></li>
				{% endfor %}
			</div>

			<div class="group">
				<a href="{% url 'home' %}">Home</a></li>
				<a href="">Organize Stories</a></li>
				<a href="{% url 'logout' %}">Logout</a>
			</div>
		</nav>
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>

			{% block page %}
				{% block header %}
				<header role="banner">
					<div class="container">
						<section class="left">
							<h1><a class="menu" href="">Storybook</a></h1>
						</section>
						<section class="right">
							<a class="add" href="">+</a></h1>
						</section>
					</div>
					{% block pageheader %}{% endblock pageheader %}
				</header>
				{% endblock header %}

				<section id="error">
					<div class="container"></div>
				</section>

				<main id="content">
					{% block content %}{% endblock content %}
				</main>
			{% endblock page %}
		</section>
	</div>
</body>
</html>
