{% extends '_base.html' %}

{% block pageheader %}
<h1 class="container">::<a href="{% url 'story' story.slug %}">{{ story.slug }}</a> &nbsp;(full)</h1>
{% endblock pageheader %}

{% block content %}
<section class="full-draft">
	{% for scene in scenes %}{% spaceless %}
	<div class="scene container">
		{% if scene.chapter_title %}
		<h2 class="chapter">{{ scene.chapter_title }}</h2>
		{% elif not forloop.first %}
		<div class="divider">&#9632;</div>
		{% endif %}

		{% if scene.html != '' %}
		{{ scene.html|safe }}
		{% else %}
		<div class="placeholder">&hellip; Scene {{ scene.order }}: {{ scene.title }}</div>
		{% endif %}
	</div>
	{% endspaceless %}{% endfor %} 

	<h5 class="end container">The End.</h5>
</section>
{% endblock content %}
