{% extends '_base.html' %}

{% block pageheader %}
<h1 class="container"><a href="{% url 'story' story.slug %}">{{ story.title }}</a> &nbsp;(full)</h1>
{% endblock pageheader %}

{% block content %}
<section class="full-draft">
	{% for scene in scenes %}
	<div class="scene container">
		{% if scene.html != '' %}
		{{ scene.html|safe }}
		{% else %}
		<div class="placeholder">&hellip; Scene {{ scene.order }}: {{ scene.title }} &hellip;{% if scene.synopsis %}<div class="synopsis">{{ scene.synopsis }}</div>{% endif %}</div>
		{% endif %}
	</div>
	{% endfor %} 

	<h5 class="end container">The End.</h5>
</section>
{% endblock content %}
