{% extends '_base.html' %}


{% block htmlclass %} class='edit'{% endblock htmlclass %}

{% block frame %}
<section class="scene-edit" data-uri="{% url 'api_save_scene' story.slug scene.id %}" data-scene-uri="{% url 'scene' story.slug scene.id %}">
	<div class="content">
		<div class="text container">
			<textarea>{{ scene.text }}</textarea>
		</div>
	</div>
</section>
{% endblock frame %}

{% block footercontent %}
<div class="controls container">
	<a class="cancel" href="{% url 'scene' story.slug scene.id %}">Cancel</a>
	<a class="button save-scene" href="">Save Scene</a>
</div>
{% endblock footercontent %}
