{% extends '_base.html' %}

{% block htmlclass %} class='edit'{% endblock htmlclass %}

{% block framewrapper %}
<textarea id="frame" class="scene-edit" data-uri="{% url 'api_save_scene' story.slug scene.id %}" data-scene-uri="{% url 'scene' story.slug scene.id %}">{{ scene.text }}</textarea>
{% endblock framewrapper %}

{% block footercontent %}
<div class="controls container scene-edit">
	<a class="cancel" href="{% url 'story' story.slug %}">&lsaquo; Story</a>
    <a class="button clear-storage" href="">&times;</a>
    <a class="button" href="{% url 'scene' story.slug scene.id %}">&lsaquo; Scene</a>
	<a class="button save-scene" href="">Save Scene</a>
</div>
{% endblock footercontent %}
