{% extends '_base.html' %}
{% load humanize %}

{% block pageheader %}
<h1 class="container">::<a href="{% url 'story' story.slug %}">{{ story.slug }}</a></h1>
<div class="summary container">
	<span class="version">v{{ story.version }}</span>
	&mdash;
	<span class="wordcount">{{ story.word_count|intcomma }} word{{ story.word_count|pluralize }}</span>
	&mdash;
	<span class="date">{{ story.last_modified|date:"Y-m-d" }}</span>
</div>
{% endblock pageheader %}

{% block content %}
<section class="scene-detail controls-content" data-edit-uri="{% url 'scene_edit' story.slug scene.id %}" {% if nav.next %}data-next-uri="{% url 'scene' story.slug nav.next.id %}"{% endif %} {% if nav.prev %}data-prev-uri="{% url 'scene' story.slug nav.prev.id %}"{% endif %}>
	<div class="links">
		<div class="container">
			{% if nav.prev %}
			<a class="prev-scene" href="{% url 'scene' story.slug nav.prev.id %}">previous scene</a>
			{% endif %}
			{% if nav.next %}
				{% if nav.prev %} &mdash; {% endif %}
			<a class="next-scene" href="{% url 'scene' story.slug nav.next.id %}">next scene</a>
			{% endif %}

			{% if nav.prev or nav.next %} &mdash; {% endif %}
			<a href="{% url 'admin:storybook_scene_change' scene.id %}" target="_blank">scene admin</a>
		</div>
	</div>

	<div class="content">
		<div class="summary">
			<div class="scene container">
				<span class="num">{{ scene.order }}</span>
				<div class="info">
					<h3>{{ scene.title_rendered|safe }}</h3>
					<div class="meta"><span>{{ scene.word_count|intcomma }}</span> word{{ scene.word_count|pluralize }}</div>
				</div>
			</div>
		</div>

		<div class="text">
			<div class="container">
				{{ scene.html|safe }}
			</div>
		</div>
	</div>
</section>
{% endblock content %}

{% block footercontent %}
<div class="controls container">
	<a class="cancel" href="{% url 'story' story.slug %}">Story</a>
    <a class="button save-draft" href="{% url 'api_save_draft' story.slug %}">Save Draft</a>
	<a class="button save" href="{% url 'scene_edit' story.slug scene.id %}">Edit Scene</a>
</div>
{% endblock footercontent %}
