{% extends '_base.html' %}

{% block pageheader %}
<h1 class="container"><a href="{% url 'story' story.slug %}">{{ story.title }}</a></h1>
{% endblock pageheader %}

{% block content %}
<section class="scene-detail" data-edit-uri="{% url 'scene_edit' story.slug scene.id %}" {% if nav.next %}data-next-uri="{% url 'scene' story.slug nav.next.id %}"{% endif %} {% if nav.prev %}data-prev-uri="{% url 'scene' story.slug nav.prev.id %}"{% endif %}>
	<div class="summary">
		<div class="container">
			<a class="edit button" href="{% url 'scene_edit' story.slug scene.id %}">Edit</a>

			<div class="num">Scene {{ scene.order }} &mdash; {{ scene.word_count }} words</div>
			<div class="title">{{ scene.title }}</div>

			{% if scene.synopsis %}
			<div class="synopsis">{{ scene.synopsis_rendered|safe }}</div>
			{% endif %}
		</div>
	</div>

	<div class="text">
		<div class="container">
			{{ scene.html|safe }}
		</div>
	</div>
</section>
{% endblock content %}
