{% extends '_base.html' %}

{% block htmlclass %} class='edit'{% endblock htmlclass %}

{% block frame %}
<section class="story-edit" data-uri="{% url 'api_save_story' story.slug %}" data-story-uri="{% url 'story' story.slug %}">
	<div class="content">
		<div class="text">
			<textarea>{{ text }}</textarea>
		</div>
	</div>
</section>
{% endblock frame %}

{% block footercontent %}
<div class="controls container">
	<a class="cancel" href="{% url 'story' story.slug %}">Cancel</a>
	<a class="button save-story" href="">Save Story</a>
</div>
{% endblock footercontent %}
