{% extends '_base.html' %}
{% load humanize %}

{% block pageheader %}
<h1 class="container">::{{ story.slug }}</h1>
<div class="summary container">
	<span class="version">v{{ story.version }}</span>
	&mdash;
	<span class="wordcount">{{ story.word_count|intcomma }} word{{ story.word_count|pluralize }}</span>
	&mdash;
	<span class="date">{{ story.last_modified|date:"Y-m-d" }}</span>
</div>
{% endblock pageheader %}

{% block content %}
<section class="story-detail" data-edit-uri="{% url 'story_organize' story.slug %}">
	<div class="links">
		<div class="container">
			<a href="#fragments">fragments</a> &mdash; <a href="#drafts">drafts</a>
		</div>
	</div>

	<div class="scenes">
		{% for scene in scenes %}
		<div class="scene" data-id="{{ scene.id }}">
			<a href="{% url 'scene' story.slug scene.id %}" class="container">
				<span class="num">{{ scene.order }}</span>
				<div class="info">
					<h3>{{ scene.title_rendered|safe }}</h3>
					<div class="meta"><span>{{ scene.word_count|intcomma }}</span> word{{ scene.word_count|pluralize }}</div>
				</div>
			</a>
		</div>
		{% endfor %} 
	</div>

	<div class="fragments story-lists container">
        <h2 id="fragments">Fragments</h2>

		<ul>
		{% for frag in fragments %}
			<li class="fragment" data-id="{{ frag.id }}">
				{{ frag.html|truncatewords_html:"100"|safe }}
			</li>
		{% endfor %} 
		</ul>
	</div>

	<div class="drafts story-lists container">
        <h2 id="drafts">Drafts</h2>

        <ul>
		{% for d in drafts %}
            <li><a href="">v{{ forloop.counter|stringformat:"03d" }} ({{ d.created|date:"Y-m-d H:i:s" }})</a></li>
		{% endfor %} 
        </ul>
	</div>
</section>
{% endblock content %}

{% block footercontent %}
<div class="controls container">
	<a class="cancel" href="{% url 'home' %}">Home</a>
	<a class="button save" href="{% url 'scene_edit' story.slug 0 %}">Edit Story</a>
</div>
{% endblock footercontent %}
