{% extends '_base.html' %}
{% load humanize %}

{% block pageheader %}
<h1 class="container">::{{ story.slug }}</h1>
{% endblock pageheader %}

{% block content %}
<section class="story-detail" data-edit-uri="{% url 'story_organize' story.slug %}">
	<div class="summary">
		<div class="container">
			<a class="edit button" href="">Edit Story</a>

			<div class="num">{{ story.word_count|intcomma }} word{{ story.word_count|pluralize }}</div>
			<div>v{{ story.version }}</div>
			<div>{{ story.last_modified }}</div>
		</div>
	</div>

	<div class="scenes">
		{% for scene in scenes %}
		<div class="scene" data-id="{{ scene.id }}">
			<a href="{% url 'scene' story.slug scene.id %}" class="container">
				<span class="num">{{ scene.order }}</span>
				<div class="info">
					<h3>{{ scene.title_rendered|safe }}</h3>
					<div class="meta"><span>{{ scene.word_count|intcomma }}</span> word{{ scene.word_count|pluralize }}</div>
				</div>
			</a>
		</div>
		{% endfor %} 
	</div>

	<div class="fragments">
        <h2>Fragments</h2>

		{% for frag in fragments %}
		<div class="fragment" data-id="{{ frag.id }}">
			{{ frag.html|truncatewords_html:"100"|safe }}
		</div>
		{% endfor %} 
	</div>

	<div class="fragments">
        <h2>Drafts</h2>

        <ul>
		{% for d in drafts %}
            <li><a href="">v{{ forloop.counter|stringformat:"04d" }} ({{ d.created }})</a></li>
		{% endfor %} 
        </ul>
	</div>
</section>
{% endblock content %}
