{% extends '_base.html' %}

{% block htmlclass %} class='edit'{% endblock htmlclass %}

{% block framewrapper %}
<textarea id="frame" class="story-edit" data-uri="{% url 'api_save_story' story.slug %}" data-story-uri="{% url 'story' story.slug %}">{{ text }}</textarea>
{% endblock framewrapper %}

{% block footercontent %}
<div class="controls container">
	<a class="cancel" href="{% url 'story' story.slug %}">Cancel</a>
	<a class="button save-story" href="">Save Story</a>
</div>
{% endblock footercontent %}
