{% extends '_base.html' %}

{% block pageheader %}
<h1 class="container">{{ story.title }}</h1>
{% endblock pageheader %}

{% block content %}
<section class="story-detail" data-edit-uri="{% url 'story_organize' story.slug %}">
	{% if story.description %}
	<div class="summary">
		<div class="container">
			{{ story.description_rendered|safe }}
		</div>
	</div>
	{% endif %}

	<div class="scenes">
		{% for scene in scenes %}
		<div class="scene" data-id="{{ scene.id }}">
			<a href="{% url 'scene' story.slug scene.id %}" class="container">
				<span class="num">{{ scene.order }}</span>
				<div class="info">
					<h3>{{ scene.title_rendered|safe }}</h3>
					<div class="meta"><span>{{ scene.word_count }}</span> word{% if scene.word_count != 1 %}s{% endif %} &mdash; {{ scene.status }}{% if scene.characters.count %} &mdash; {% for c in scene.characters.all %}{% if forloop.counter > 1 %}, {% endif %}<span style="color: {{ c.color }}">{{ c.name }}</span>{% endfor %}{% endif %}</div>
				</div>
			</a>
		</div>
		{% endfor %} 
	</div>
</section>
{% endblock content %}
