/* Charter */
/* -------------------------------------------------- */
@font-face {
  font-family: 'Charter';
  src: url("/static/fonts/charter_bold_italic-webfont.eot");
  src: url("/static/fonts/charter_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/charter_bold_italic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("/static/fonts/charter_bold-webfont.eot");
  src: url("/static/fonts/charter_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/charter_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Charter';
  src: url("/static/fonts/charter_italic-webfont.eot");
  src: url("/static/fonts/charter_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/charter_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Charter';
  src: url("/static/fonts/charter_regular-webfont.eot");
  src: url("/static/fonts/charter_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/charter_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  font-family: Charter, Georgia, Times New Roman; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

.container {
  margin: 0px auto;
  max-width: 625px;
  padding: 0 22px; }

.button {
  background: #0099cc;
  border-radius: 1em;
  color: #fff;
  padding: 3px 15px 5px;
  text-decoration: none; }
  .button:hover {
    background: #777; }

hr {
  background: #ccc;
  border-width: 0;
  height: 1px;
  margin: 2em auto;
  text-align: center;
  width: 80%; }

.links {
  color: #bbb;
  padding: .5em 0 0; }
  .links a {
    color: #0099cc;
    text-decoration: none; }
    .links a:hover {
      color: #777; }

/* Navigation */
/* -------------------------------------------------- */
nav[role=menu] {
  -moz-transition: -moz-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -o-transition: -o-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  -webkit-overflow-scrolling: touch;
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  background: #fff;
  bottom: 0;
  float: left;
  left: 0;
  overflow-y: auto;
  padding: 1.5em 2em;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 0; }
  nav[role=menu] .group {
    text-align: right; }
    nav[role=menu] .group.scene {
      border-bottom: solid 1px #ddd;
      padding-bottom: 1.5em; }
      nav[role=menu] .group.scene .revision {
        font-size: .8em;
        line-height: 1.5em; }
    nav[role=menu] .group.story {
      border-bottom: solid 1px #ddd;
      padding-bottom: 1.5em; }
    nav[role=menu] .group.stories {
      font-size: 1.1em;
      font-style: italic;
      line-height: 1.8em; }
      nav[role=menu] .group.stories a {
        color: #111; }
        nav[role=menu] .group.stories a:hover {
          color: #6baf60; }
  nav[role=menu] .group + .group {
    margin-top: 1.5em; }
  nav[role=menu] a {
    color: #0099cc;
    display: block;
    font-size: 1.1em;
    line-height: 1.7em;
    text-decoration: none; }
    nav[role=menu] a:hover {
      color: #777; }

body.active-nav nav[role=menu] {
  -webkit-transform: translate3d(0, 0, 0);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  z-index: 50000; }
body.active-nav #page {
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  transition: transform 0.15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
  position: fixed;
  width: 100%;
  height: 100%; }
  body.active-nav #page .mask {
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50000; }

/* Header */
/* -------------------------------------------------- */
header[role=banner] {
  border-bottom: solid 2px #aad1a3; }
  header[role=banner] > .container {
    -webkit-display: flex;
    display: flex; }
    header[role=banner] > .container a {
      color: #6baf60;
      display: block;
      font-size: 1.2em;
      padding: 0.8em 0 0.6em;
      text-decoration: none; }
      header[role=banner] > .container a:hover {
        color: #777; }
    header[role=banner] > .container .left {
      -webkit-flex: 1;
      flex: 1; }
    header[role=banner] > .container .right {
      text-align: right; }
    header[role=banner] > .container h1 {
      font-size: 1em;
      font-weight: normal;
      margin: 0; }
      header[role=banner] > .container h1 a {
        color: #6baf60; }
  header[role=banner] > h1.container {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: .7em;
    margin-top: 0; }
    header[role=banner] > h1.container a {
      color: #111;
      font-size: 1em;
      padding: 0; }
      header[role=banner] > h1.container a:hover {
        color: #6baf60; }
  header[role=banner] > .summary.container {
    color: #888;
    display: block;
    font-size: .9em;
    font-style: italic;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-top: -.5em; }

/* Tray */
/* -------------------------------------------------- */
#tray {
  border-bottom: solid 2px #aad1a3;
  display: none; }
  #tray textarea {
    -webkit-overflow-scrolling: touch;
    border: none;
    font-size: 1.4em;
    height: 250px;
    line-height: 1.35em;
    overflow-y: scroll;
    padding: 1em 0;
    resize: none;
    width: 100%; }
    #tray textarea:focus {
      outline: none; }
  #tray .controls {
    overflow: hidden;
    padding: 0 0 1em;
    text-align: right; }
    #tray .controls .button {
      display: inline-block; }

/* Dashboard */
/* -------------------------------------------------- */
.dashboard .story {
  border-bottom: solid 1px #ddd; }
  .dashboard .story a {
    color: #111;
    display: block;
    padding: .8em 0 1em;
    text-decoration: none; }
    .dashboard .story a:hover {
      color: #6baf60; }
    .dashboard .story a h2 {
      font-size: 1.3em;
      font-weight: normal;
      margin: 0; }
    .dashboard .story a .info {
      color: #888;
      font-style: italic;
      margin-top: 2px; }
.dashboard .inactive {
  margin-top: 3em; }
  .dashboard .inactive h3 {
    color: #888;
    font-size: .9em;
    font-weight: 400;
    margin-bottom: .2em;
    margin-top: 0; }
  .dashboard .inactive .story {
    border-bottom: none;
    font-size: .7em; }

/* Story detail */
/* -------------------------------------------------- */
.story-detail .scenes {
  margin-top: .5em; }
  .story-detail .scenes .scene > a {
    -webkit-display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border-top: solid 1px #ddd;
    color: #111;
    display: flex;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    text-decoration: none; }
    .story-detail .scenes .scene > a:hover {
      color: #6baf60; }
  .story-detail .scenes .scene .num {
    color: #b68f76;
    font-size: 1.1em;
    line-height: 1.4em;
    width: 2em; }
  .story-detail .scenes .scene .info {
    flex: 1; }
    .story-detail .scenes .scene .info h3 {
      font-weight: 400;
      margin: 0; }
    .story-detail .scenes .scene .info .meta {
      color: #999;
      font-size: .7em;
      line-height: 1.3em;
      margin-top: 1px; }
    .story-detail .scenes .scene .info .synopsis {
      color: #888;
      font-size: .9em;
      font-style: italic;
      line-height: 1.4em;
      margin-top: .5em; }
.story-detail .scenes.sortable .handle {
  -webkit-align-items: center;
  -webkit-display: flex;
  align-items: center;
  background: #eee;
  border-radius: 3px;
  color: #aaa;
  cursor: pointer;
  display: flex;
  padding: 2px 15px 11px;
  text-align: center; }
  .story-detail .scenes.sortable .handle:hover {
    background: #444;
    color: #fff; }

@media screen and (min-width: 600px) {
  .story-detail .summary {
    font-size: 1.1em; }
  .story-detail .scene {
    font-size: 1.1em;
    line-height: 1.45em; } }
/* Fragments/drafts */
/* -------------------------------------------------- */
.story-lists {
  border-top: solid 1px #ddd;
  margin-top: 2em;
  padding-top: 2em; }
  .story-lists h2 {
    font-size: 1.2em;
    font-weight: 400; }
  .story-lists li {
    line-height: 1.1em; }
    .story-lists li + li {
      margin-top: .5em; }
  .story-lists a {
    color: #0099cc;
    text-decoration: none; }
    .story-lists a:hover {
      color: #777; }

/* Scene detail */
/* -------------------------------------------------- */
.scene-detail .summary {
  border-bottom: solid 1px #ddd;
  color: #444;
  font-style: italic;
  line-height: 1.4em;
  padding: 1em 0 1.5em; }
  .scene-detail .summary .num {
    color: #b68f76;
    font-style: normal;
    margin-bottom: 5px; }
  .scene-detail .summary .title {
    color: #111;
    font-size: 1.2em;
    font-style: normal;
    line-height: 1.3em; }
  .scene-detail .summary .synopsis {
    margin-top: 1em; }
  .scene-detail .summary .edit {
    float: right;
    font-style: normal;
    margin-bottom: 15px;
    margin-left: 15px; }
.scene-detail .text {
  font-size: 1.2em;
  line-height: 1.45em;
  padding: 1.4em 0; }
  .scene-detail .text p {
    margin: 0; }
  .scene-detail .text p + p {
    text-indent: 1.25em; }
  .scene-detail .text hr + p {
    text-indent: 0; }
  .scene-detail .text .comment {
    color: #999;
    font-style: italic;
    margin: 2em 0;
    padding: 0 1em 0 1.25em; }
.scene-detail .fragment + .fragment {
  border-top: solid 1px #ddd;
  margin-top: 2em;
  padding-top: 2em; }

@media screen and (min-width: 650px) {
  .scene-detail .text {
    font-size: 1.3em;
    line-height: 1.45em; } }
/* Control bar setup */
/* -------------------------------------------------- */
.wrapper {
  height: 100%; }

#page {
  -webkit-display: flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 100%; }

#frame {
  -webkit-flex: 1;
  flex: 1;
  overflow-y: scroll; }
  #frame #content {
    padding-bottom: 5em; }
  #frame .content {
    -webkit-display: flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    height: 100%; }
    #frame .content .text {
      -webkit-display: flex;
      display: flex;
      height: 100%;
      width: 100%; }
    #frame .content textarea {
      -webkit-flex: 1;
      -webkit-overflow-scrolling: touch;
      border: none;
      flex: 1;
      font-size: 1.2em;
      line-height: 1.45em;
      overflow-y: scroll;
      padding: 1em 25px 4em;
      resize: none; }
      #frame .content textarea:focus {
        outline: none; }

footer#footer {
  background: #0c0707;
  box-shadow: 0 -1px 50px 25px #fff;
  font-size: 1.2em;
  z-index: 69000; }
  footer#footer .controls {
    -webkit-align-items: center;
    -webkit-display: flex;
    align-items: center;
    display: flex;
    padding-bottom: .5em;
    padding-top: .5em; }
    footer#footer .controls a.cancel {
      -webkit-flex: 1;
      flex: 1;
      color: #94a191;
      text-decoration: none; }
      footer#footer .controls a.cancel:hover {
        color: #777; }
    footer#footer .controls .button {
      background: none;
      padding: 3px 0px 5px; }
      footer#footer .controls .button:hover {
        color: #777; }

@media screen and (min-width: 600px) {
  #frame .text textarea {
    font-size: 1.3em;
    line-height: 1.45em;
    margin: 0px auto;
    max-width: 600px;
    padding: 50px 50px 100px; }

  #footer .controls {
    margin: 0px auto;
    max-width: 600px;
    padding-left: 50px;
    padding-right: 50px; } }
@media screen and (min-width: 650px) {
  #frame .text textarea {
    padding-left: 0;
    padding-right: 0; }

  #footer .controls {
    padding-left: 0;
    padding-right: 0; } }
@media screen and (min-width: 800px) {
  #frame .text textarea {
    font-size: 1.4em;
    line-height: 1.45em; } }
html.edit {
  height: 100%; }
  html.edit body {
    height: 100%;
    padding-bottom: 0; }
  html.edit .wrapper {
    height: 100%; }
  html.edit #page {
    height: 100%; }

/* Full draft */
/* -------------------------------------------------- */
.full-draft {
  font-size: 1.2em;
  line-height: 1.45em;
  padding: 1.4em 0; }
  .full-draft p {
    margin: 0; }
  .full-draft p + p {
    text-indent: 1.25em; }
  .full-draft .scene + .scene {
    margin-top: 3em; }
  .full-draft .comment {
    color: #999;
    font-style: italic;
    margin: 2em 0;
    padding: 0 1em 0 1.25em; }
  .full-draft .placeholder {
    color: #666;
    font-style: italic; }
    .full-draft .placeholder .synopsis {
      font-size: .9em;
      line-height: 1.4em; }
  .full-draft h5.end {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5em;
    text-align: right; }

@media screen and (min-width: 650px) {
  .full-draft {
    font-size: 1.3em;
    line-height: 1.45em; } }
/* Full draft */
/* -------------------------------------------------- */
.characters {
  margin-top: 1em; }
  .characters .character h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0; }
  .characters .character a {
    color: #6baf60;
    text-decoration: none; }
    .characters .character a:hover {
      color: #777; }
  .characters .character ul.scenes {
    margin: 0;
    margin-top: .25em; }
  .characters .character + .character {
    border-top: solid 1px #ddd;
    margin-top: 1.5em;
    padding-top: 1.5em; }

/* Login page */
#login-form {
  margin-top: 1em; }
  #login-form h1 {
    font-weight: 400; }
  #login-form form.login {
    margin-top: 1em;
    padding-bottom: 1em; }
    #login-form form.login .group label {
      color: #888;
      display: block;
      margin-bottom: .2em; }
    #login-form form.login .group section {
      margin-bottom: 1em; }
      #login-form form.login .group section input[type=text] {
        font-size: 1.3em;
        padding: 3px 5px; }
      #login-form form.login .group section input[type=password] {
        font-size: 1.3em;
        padding: 3px 5px; }
    #login-form form.login input.button {
      background: #6baf60;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1em;
      padding: 4px 10px 6px;
      -webkit-appearance: none; }
      #login-form form.login input.button:hover {
        background: #444; }

/*# sourceMappingURL=style.css.map */
