/* Charter */
/* -------------------------------------------------- */

@font-face {
    font-family: 'Charter';
    src: url('/static/fonts/charter_bold_italic-webfont.eot');
    src: url('/static/fonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('/static/fonts/charter_bold-webfont.eot');
    src: url('/static/fonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charter';
    src: url('/static/fonts/charter_italic-webfont.eot');
    src: url('/static/fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charter';
    src: url('/static/fonts/charter_regular-webfont.eot');
    src: url('/static/fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Source Sans Pro, Helvetica, Arial;
}

body {
	margin: 0;
	padding: 0;
}

body > header {
	background: #4d3e32;
	color: #fff;
	height: 49px;
	padding-top: 14px;
	position: relative;
	z-index: 100;
}

body > header h1 {
	background: #201c17;
	border-radius: 0 0 3px 3px;
	display: inline-block;
	float: left;
	font-size: .8em;
	letter-spacing: 0.1em;
	margin: 0 5px 0 15px;
	margin-top: -14px;
	text-transform: uppercase;
}

body > header h1 a {
	color: #81644d;
	display: inline-block;
	padding: 20px 9px 6px 9px;
}

body > header a {
	color: #fff;
	display: inline-block;
	padding: 3px 15px;
	text-decoration: none;
}

body > header a:hover {
	color: #fff8ad;
}

body > header .left {
	float: left;
}

body > header .right {
	float: right;
}

body > header a.story-title {
	font-size: 1.2em;
	line-height: 1.1em;
}


/* Main */

#main {
	-webkit-flex-direction: row;
	bottom: 0;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 49px;
	width: 100%;
	-webkit-transition: background .25s ease-in-out;
}

#main .panel {
	-webkit-flex: 1;
	-webkit-transition: opacity .25s ease-in-out;
	background: #e8e5df;
	color: #444;
	flex: 1;
	height: 100%;
}

#main .panel > div + div {
	border-top: solid 1px #d8c7b6;
}

#main #middle-panel {
	-webkit-flex: 2;
	background: #fff;
	border-top: solid 5px #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	flex: 2;
	z-index: 50;
}

#main #middle-panel.dirty {
	border-top-color: #63b0e8;
}

#main #middle-panel.saving {
	border-top-color: #e3b068;
}

#main #middle-panel.error {
	border-top-color: #f00;
}


#main #right-panel {
	-webkit-flex-direction: column;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#main .panel .group {
	padding: 5px 15px;
}


/* Panel heading */

#main .panel h1 {
	color: #ab866c;
	font-size: .8em;
	letter-spacing: 0.05em;
	margin: 15px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

#main .panel h1 a {
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #bb9c86;
	cursor: pointer;
	font-size: .7em;
	margin-left: 10px;
	user-select: none;
}

#main .panel h1 a:hover {
	color: #444;
}


/* Writing area */

#middle-panel {
	-webkit-flex-direction: column;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

#main textarea#text {
	-webkit-transition: border-top-color .25s ease-in-out;
	border: none;
	font-family: Charter, Georgia, Source Sans Pro, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	height: 100%;
	line-height: 1.4em;
	padding: 35px;
	padding-top: 10px;
	resize: none;
	width: 100%;	
}

#main textarea#text:focus {
	outline: none;
}

#middle-panel textarea[name=scene-title] {
	background: none;
	border: none;
	color: #555;
	font-size: 1.2em;
	font-style: normal;
	font-weight: 600;
	height: 1.1em;
	line-height: 1.2em;
	margin: 30px auto 10px;
	padding: 0 35px;
	resize: none;
	text-align: center;
	width: 100%;
}

#middle-panel textarea[name=scene-title]:focus {
	outline: none;
}


/* Outline panel */

#outline-panel {
	height: 100%;
	overflow-y: auto;
}

#outline-panel .scene {
	color: #444;
	cursor: pointer;
	display: block;
	padding: 12px 15px;
	text-decoration: none;
}

#outline-panel .scene.selected {
	background: #ffffe4;
}

#outline-panel .scene.selected:hover {
	background: #ffffe4;
}

#outline-panel .scene:hover {
	background: #fff;
}

#outline-panel .scene h2 {
	color: #ad9884;
	font-size: .7em;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
}

#outline-panel .scene h3 {
	font-size: 1em;
	line-height: 1.1em;
	margin: 3px 0 0;
}

#outline-panel .scene .wordcount {
	color: #777;
	font-size: .7em;
	font-style: italic;
	line-height: 1.2em;
	margin-top: 3px;
}

#outline-panel a.add-scene {
	background: #f7f4ee;
	border-radius: 3px;
	color: #c0ac96;
	cursor: pointer;
	display: block;
	font-size: .8em;
	letter-spacing: 0.05em;
	margin-top: .5em;
	padding: 7px 10px 9px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#outline-panel a.add-scene:hover {
	background: #fff;
}

#outline-panel .scene.placeholder {
	background: #f7f4ee;
	border-radius: 3px;
	height: 3.5em;
}

/* Scene panel */

#scene-panel h2 {
	color: #ad9884;
	font-size: .7em;
	margin: 0;
	margin-bottom: 2px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

#scene-panel textarea {
	background: none;
	border: none;
	color: #6b685f;
	font-size: .8em;
	font-style: italic;
	height: 1.1em;
	line-height: 1.3em;
	padding: 0;
	resize: none;
	width: 100%;
}

#scene-panel textarea:focus {
	outline: none;
}


/* History panel */

#history-panel {
	-webkit-flex: 1;
	flex: 1;
	overflow-y: auto;
}

#history-panel .list {
	font-size: .9em;
	padding: 0 15px;
}

#history-panel .list a {
	color: #947e5b;
	display: block;
	font-size: .85em;
	line-height: 1.2em;
	text-decoration: none;
}

#history-panel .list a:hover {
	color: #444;
}

#history-panel .list a + a {
	margin-top: 3px;
}

#history-panel .list span {
	color: #999;
	display: block;
	font-size: .8em;
	line-height: 1.2em;
}


/* Dimmer */

body.dimmer #main {
	background: #587d90;
}

body.dimmer #left-panel {
	opacity: 0.5;
}

body.dimmer #right-panel {
	opacity: 0.5;
}


/* Dialog */

#dialog {
	max-width: 500px;
	margin: 30px auto;
}


/* Login page */

form.login {
	margin-top: 1em;
}

form.login .group label {
	color: #888;
	display: block;
	margin-bottom: .2em;
}

form.login .group section {
	margin-bottom: 1em;
}

form.login .group section input[type=text] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login .group section input[type=password] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login input.button {
	background: #c86363;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 10px 6px;
}

form.login input.button:hover {
	background: #444;
}


/* Search on dashboard */

#middle-panel #search {
	-webkit-flex-direction: row;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin-top: -5px;
}

#middle-panel #search input[type=text] {
	background: #222;
	border: none;
	color: #fff;
	flex: 1;
	font-size: 1em;
	padding: 6px 13px 8px;
}

#middle-panel #search input[type=text]:focus {
	outline: none;
}

#middle-panel #search input[type=submit] {
	background: #111;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: .8em;
	letter-spacing: 0.1em;
	padding: 6px 13px 8px;
	text-transform: uppercase;
}

#middle-panel #search input[type=submit]:hover {
	background: #397dca;
}


/* Dashboard */

#main #dashboard {
	border-top: none;
	margin: 30px 50px;
}

#main #dashboard h1 {
	margin: 0 0 1em 0;
}

#dashboard .story a {
	background: #fff;
	display: block;
	padding: 1em 0;
	text-decoration: none;
}

#dashboard .story a:hover h2 {
	color: #444;
}

#dashboard .story a h2 {
	color: #4b91bd;
	font-size: 1.2em;
	margin: 0;
}

#dashboard .story a .info {
	color: #888;
	font-size: .9em;
	font-style: italic;
	margin-top: 2px;
}

#dashboard .story + .story {
	border-top: solid 1px #ddd;
}


/* Full draft */

#middle-panel #full-draft {
	overflow: auto;
	padding: 25px 45px;
}

#middle-panel #full-draft * {
	font-family: Charter, Georgia, Source Sans Pro, Helvetica, Arial, sans-serif;
}

#middle-panel #full-draft h1, #full-draft h2 {
	text-align: center;
}

#middle-panel #full-draft h1 {
	font-size: 1.3em;
	margin-bottom: 1.5em;
}

#middle-panel #full-draft h2 {
	color: #bbb;
	font-size: .9em;
	font-style: italic;
	font-weight: normal;
	line-height: 1.3em;
	margin: 3em 0;
}

#middle-panel #full-draft h2 div {
	font-size: .8em;
	margin-top: 5px;
}

#middle-panel #full-draft h5 {
	color: #ab866c;
	font-size: .9em;
	letter-spacing: 0.05em;
	margin: 4em 0 7em;
	text-align: center;
	text-transform: uppercase;
}

#full-draft p {
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0;
}

#full-draft p + p {
	text-indent: 1.25em;
}

#full-draft .scene + .scene {
	margin-top: 2em;
}


/* Media queries */
@media screen and (min-width: 1000px) {
	#main textarea#text {
		padding: 50px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 60px;
	}

	body > header h1 {
		margin-left: 25px;
	}

	body > header .right {
		padding-right: 10px;
	}

	#main .panel .group {
		padding-left: 25px;
		padding-right: 25px;
	}

	#main .panel h1 {
		margin-top: 20px;
		margin-left: 25px;
		margin-right: 25px;
	}

	#middle-panel textarea[name=scene-title] {
		padding: 0 35px;
	}

	#outline-panel .scene {
		padding-left: 25px;
		padding-right: 25px;
	}

	#history-panel .list {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media screen and (min-width: 1300px) {
	#main textarea[name=scene-title] {
		font-size: 1.3em;
		line-height: 1.3em;
	}

	#main textarea#text {
		font-size: 1.25em;
		line-height: 1.4em;
		padding: 70px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 80px;
	}
}

@media screen and (min-width: 1500px) {
	#main textarea#text {
		padding: 100px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 100px;
		font-size: 1.1em;
		line-height: 1.4em;
	}
}

@media screen and (min-width: 1700px) {
	#main textarea#text {
		padding: 130px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 130px;
	}
}

@media screen and (min-width: 1800px) {
	#main textarea#text {
		padding: 150px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		font-size: 1.2em;
		line-height: 1.4em;
		padding: 25px 150px;
	}
}

@media screen and (min-width: 1900px) {
	#main textarea[name=scene-title] {
		font-size: 1.4em;
		line-height: 1.3em;
	}

	#main textarea#text {
		font-size: 1.4em;
		line-height: 1.4em;
		padding: 180px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 150px;
	}
}

@media screen and (min-width: 2000px) {
	#main textarea[name=scene-title] {
		font-size: 1.5em;
		line-height: 1.3em;
	}

	#main textarea#text {
		font-size: 1.5em;
		line-height: 1.4em;
		padding: 200px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 200px;
	}
}

@media screen and (min-width: 2300px) {
	#main textarea[name=scene-title] {
		font-size: 1.6em;
		line-height: 1.3em;
	}

	#main textarea#text {
		font-size: 1.6em;
		line-height: 1.4em;
		padding: 230px;
		padding-top: 10px;
	}

	#middle-panel #full-draft {
		padding: 25px 250px;
	}
}
